<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>

  <form action='team' method="POST">

  <input type="text" id="name" name="name">
  <input type="text" id="coach" name="coach">
  <input type="text" id="pg" name="pg">
  <input type="text" id="sg" name="sg">
  <input type="text" id="pf" name="pf">
  <input type="text" id="sf" name="sf">
  <input type="text" id="c" name="c">

    <button>Submit</button>
  </form >
    
  
 </head>
 <body>
 </body>
</html>


